#!/bin/rc
mkdir -p bin/
mkdir -p bin/common/
mkdir -p bin/assembler/
mkdir -p bin/dump/
mkdir -p bin/wrap/
mkdir -p bin/linker/
mkdir -p bin/main/

pcc tables/generate.c -o bin/generate_tables
./bin/generate_tables tables/z80.tab bin/z80.c bin/generated.h

fn panic {
	echo $"*
	exit 1
}

fn build {
	cd bin/$1
	ls ../../$2/*.c | while (file=`{read}) {
		echo compiling `{echo $file | sed 's$../../$$'}
		pcc $file -I ../../include -B -c $3 || panic failed to build $file
	}
	cd ../..
}

build common common
build assembler assembler
build linker linker
build main scas -I..
# Generated table
build main bin/
build dump scdump
build wrap scwrap
cd bin
echo linking scas
pcc assembler/* linker/* common/* main/* -o scas || panic failed to link scas
echo linking scdump
pcc dump/* common/* -o scdump|| panic failed to link scdump
echo linking scwrap
pcc wrap/* common/* -o scwrap||panic failed to link scwrap
cd ..
echo build complete!
