#!/bin/rc
mkdir -p bin/main/
mkdir -p bin/common/
mkdir -p bin/assembler/
mkdir -p bin/dump/
mkdir -p bin/wrap/
mkdir -p bin/linker/

pcc tables/generate.c -o bin/generate_tables
./bin/generate_tables tables/z80.tab bin/z80.c bin/generated.h

fn panic {
	echo $"*
	exit 1
}

fn build {
	cd bin/$1
	ls ../../$2/*.c | while (file=`{read}) {
		echo compiling `{echo $file | sed 's$../../$$'}
		pcc $file -I ../../include -B -c $3 || panic failed to build $file
	}
	cd ../..
}

build common common
build assembler assembler
build linker linker
pcc scas.c -I include -B -c -Ibin -o bin/scas.6 || panic failed to build scas.c
pcc scdump.c -I include -B -c -Ibin -obin/scdump.6 || panic failed to build scdump.c
pcc scwrap.c -I include -B -c -Ibin -obin/scwrap.6 || panic failed to build scwrap.c
pcc bin/z80.c -I include -B -c -obin/common/z80.6 || panic failed to build z80.c
cd bin
echo linking scas
pcc assembler/* linker/* common/* scas.6 -o scas || panic failed to link scas
echo linking scdump
pcc scdump.6 common/* -o scdump|| panic failed to link scdump
echo linking scwrap
pcc scwrap.6 common/* -o scwrap||panic failed to link scwrap
cd ..
echo build complete!
